html {
    background-color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION */
.nav-link {
    color: black;
    text-decoration: none;
}

.drawer-active {
    background-color: var(--mui-palette-primary-main);
    color: white;

    &:hover {
        background-color: var(--mui-palette-primary-main);
    }
}

/* PAGES */
.page-content {
    display: flex;
    padding: 50px 0px 0px 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -20px;
}

.content-left {
    width: 40%;
}

.content-right {
    width: 25vw;
    margin: 0px 20px 0px 20px;
}

@media (max-width: 1008px) {
    .content {
        flex-direction: column;
    }

    .content-left {
        width: 90%;
    }

    .content-right {
        width: 80%;
        min-width: 25rem;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }
}

/* NEIGHBOURS */
.neighbours-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.draggable-list ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    user-select: none;
}

.draggable-list ul,
ol {
    position: relative;
    width: 25rem;
}

.draggable-list li {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 18px;
    position: relative;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.draggable-list li svg {
    width: 18px;
    height: 18px;
    cursor: grab;
}

.clear-btn {
    min-width: 0;
}

.clear-btn svg {
    cursor: pointer !important;
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* 


.item {
    border: 1px solid black;
    overflow: hidden;
    transform-origin: 30% 50% 0px;
    padding-left: 20px;
    background: white;
    max-height: 100%;
  }
  .item .dragHandle {

    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    width: 20px;
    height: 16px;
    background: url('/assets/favicon.png') 30% 50% no-repeat no-repeat;
  }
  .item:hover .dragHandle,
  .item.dragged .dragHandle {
    visibility: visible;
  }
  .item h2 {
    margin: 0;
  }
  .item .subtitle {
    font-weight: bold;
  } */

/* GAME */
#game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spritePosition {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
}

.button {
    width: 140px;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        border: 1px solid #0ec3c9;
        color: #0ec3c9;
    }

    &:active {
        background-color: #0ec3c9;
    }

    /* Disabled styles */
    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.3);
    }
}
